/* CUSTOM CSS */

html {
    font-family: 'Lato', sans-serif;
}
body {
    background-image: url(img/DiningRoom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    text-align: center;
}

nav {
    background-color: black;
    font-family: 'Lato', sans-serif;
    width: 100%;
    text-align: center;
    color: white;
    padding:  24px 0;
    margin: 0;
}

#veggieSel {
    display: inline-flex;
}

#randomize {
    margin-top: 10px;
}

.toppingSelectors {
    margin: 0;
    padding: 50px;
}

#allToppings {
    margin-left: 30%;
    padding-top: 10px;
    
}

#results {
    align-content: center;
    display:  inline-flex;
   text-align: center;
}


#prevSOD {
    display: none;
}

#row {
    align-content: center;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: red;
}

#whitebox {
    display: inline-block;
    align-content: center;
    background-color: white;
    padding: 40px;
    margin: 5% 5%;
    max-width: 90%;
}

#mainLogo {
    margin: 0 30%;
    
}

h1 {
    color: #231f20;
    font-family: 'Lato', sans-serif;
}


header {
    display: inline-block;
    text-align: center;
    color: #231f20;
}

p {
    color: #231f20;
}

.wrap {
    min-height: 100vh;
    margin-bottom: -50px;
}

footer {
    text-align: center;
    height: 50px;
}


/* CSS FOR SLIDER SWITCH (NOT CUSTOM) */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



/* MEDIA QUERY FOR LARGE SCREENS */
@media screen and (min-width: 768px) {
    nav {
        background: none;
        text-align: left;
    }
    
    #whitebox {
    max-width: 50%;
}
}
